{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main</title>
    <link rel = "stylesheet" href="styles/reset.css"/> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'styles/style.css' %}" />
    
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id= "upperMenu">
            <div class="container-fluid">
                <div class = "email"><h6>Електронна адреса: <a href="#">mykyta.yaromenko@martechlicey.ukr.education</h6></a> </div>

                <div class = "acc">
                    <span class = "login"><h6>Увійти</h6></span>
                    <span class = "reg"><h6>Зареєструватися</h6></span>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mainNav">
            <div class="container-fluid">
              <a class="navbar-brand" id = "logo" href="#"><img src="{%static 'images/icon.ico' %}" width="90" height="90" class="d-inline-block align-center" alt="" loading="lazy">Sailor Sender</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navMenu" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Головна</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Про нас</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Формування резюме моряка</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Надсилання електронних листів</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                      Функції
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Формування резюме моряка</a></li>
                      <li><a class="dropdown-item" href="#">Надсилання електронних листів</a></li>
                    </ul>
                  </li>
                  </li> -->

                </ul>

              </div>
            </div>
          </nav>
          <div class="wrapper">
              
          </div>
    </div>
      


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>