#start{
    margin-top: 5%;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.textAreaEmail{
    resize: none;
    margin-top: 1%;
    height: 50vh;
}

.textEmail{
    margin-top: 1%;
}
.lb{
    margin-top: 3%;
}